# Training SQL without Installing DBMS
with W3Schools website : https://www.w3schools.com/sql/trysql.asp?filename=trysql_asc

In [1]:
#Just Delete # because github can't display Raw Data

# SELECT

In [2]:
#SELECT
    #- One of the commands in SQL
    #- To retrieve the data from the given tables
    
#Syntax :
    #SELECT * FROM TableName;

In [3]:
#SELECT * 
#FROM Customers;

In [4]:
#- * means all of the data, so they will display all data from the tables

In [5]:
#SELECT CustomerName, Country, City, PostalCode
#FROM Customers;

# DISTINCT

 - Distinct + Select : Retrieve the unique values for the specified columns

1. Without Distinct

In [6]:
#SELECT COUNTRY
#FROM Customers;

2. With Distinct

In [7]:
#SELECT DISTINCT Country
#FROM Customers;

In [8]:
#SELECT DISTINCT Country, PostalCode
#FROM Customers;

# Combination of Country and PostalCode should be unique

# SQL is NOT SENSITIVE

In [9]:
#All the below statements will work same irrespective of their case
#1.
#SELECT CustomerName, PostalCode
#FROM Customers;

#2. 
#select customername, postalcode
#from customers;

#3. 
#SELECT CUSTOMERNAME, POSTALCODE
#FROM CUSTOMERS;

#All of this 3 produce same result

# Semicolon (;) why its Important?

In [10]:
#SELECT *
#FROM Customers; << Semicolon

#Is it mandatory to end the SQL Statements with semicolon symbol?
 #- For SOME RDBMS Apps its mandatory

- Best Practice
- Easier to translate between SQL Flavors
- Indicates the end of a query

In [11]:
#SELECT *
#FROM Customers;

#SELECT PostalCode
#FROM Customers;

#This statement is double run, because semicolon separate them, in SOME RDBMS without semicolon the Query will be Error

# WHERE CLAUSE

1. Purpose is to filter records based on some condition
2. Practice and Example WHERE CLAUSE:

In [12]:
#SELECT * 
#FROM Customers
#WHERE City = 'London';

In [13]:
#SELECT *
#FROM CUSTOMERS
#WHERE CustomerID = 9;

In [14]:
#Select CustomerName, Country, City
#FROM Customers
#WHERE City = 'London';

In [15]:
#Select CustomerName, Country, City
#FROM Customers
#WHERE PostalCode = 05021;

# Using Relational Operators in Where Clause Condition

Relational Operators 

- Equal Operator (=)
- Greater Than Operator (>)
- Less Than Operator (<)
- Greater Than or Equal to Operator (>=)
- Less Than or Equal to Operator (<=)
- Not Equal Operator(<>)

## Equal

In [16]:
#SELECT *
#FROM Customers
#WHERE CustomerID=1;

## Greater Than

In [17]:
#SELECT * 
#FROM Products
#WHERE Price > 40;

## Less Than

In [18]:
#SELECT * 
#FROM Products 
#WHERE Price < 30;

## Greater Than or Equal

In [19]:
#SELECT *
#FROM Products
#Where Price >= 10;

## Less Than or Equal

In [20]:
#SELECT *
#FROM Products
#Where Price <= 20;

## Not Equal

In [21]:
#SELECT * 
#FROM Products 
#WHERE Price <> 19;

# Between Operator

   - Purpose : To filter the records in the `specified range`

In [22]:
#Example Between 50 to 60
#50,51,52,....., 60

In [23]:
#SELECT * 
#FROM Products
#WHERE Price 
#BETWEEN 10 and 20;

In [24]:
#SELECT * 
#FROM Products
#WHERE PRICE >=10 
#AND PRICE <=20;

## Reverse (Not Between)

In [25]:
#SELECT * 
#FROM Products
#WHERE PRICE
#NOT BETWEEN 10 and 20;

#Price
# should be less than 10
# should be more than 20

#SELECT *
#FROM Products
#WHERE PRICE < 10
#OR PRICE > 20;

In [26]:
## Those two produce same result